body {
    margin: 0;
    padding: 0;
    background: url(background.jpg);
}

.container {
    width: 50%;
    height: 50vh;
    position: fixed;
    background-color: aquamarine;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}