li:first-child {
    padding: 0.25rem;
    position: fixed
}

li:last-child {
    background: red;
}


li:nth-child(3) {
    background: red;
}


li:nth-child(3n+0){
    background: red;
}

li:nth-child(3n+7){
    background: yellow;
}

li:nth-child(odd){
    background: red;
}

li:nth-child(even){
    background: red;
}


.is-required:after {
    content: '*';
    color: violet;
}

.is-required:after {
    content: '*';
    color: violet;
}