/*
    all P under dev
*/
div p {
    background: red;
}
/*
    direct child
*/

div > p {
    background: red;
}

/*
    directly after child
*/

div + p {
    background: red;
}

/*
    by attribute
*/

a[target] {
    background: red;
}
/*
    Specific attribute values 
*/

input[type="text"], 
input[type="email"] {
    background: red;
}