body {
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    height: 90vh;
    position: fixed;
    background-color: aquamarine;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column-first, .column-second {
    flex-basis: 100%;
}

@media screen and (min-width: 800px) {
    .column-first {
        flex: .5;
      }
    .column-second {
        flex: 9.5;
    }
}
.column-second {
    display: table;
}
.cl-item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}